div.links {
  ul {
    list-style: none;
    display: flex;
    gap: 15px;

    li {
      font-size: 20px;

      &:not(.static) {
        cursor: pointer;

        &:hover {
          border-bottom: var(--border-color);
        }
      }
    }
  }
}
