header {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-bottom: 30px;

  div.header-container {
    width: 100%;
    display: flex;
    justify-content: space-between;

    h3 {
      font-weight: 600;
      font-size: 20px;
    }

    nav {
      font-weight: 400;
      font-size: 20px;
      display: flex;
      gap: 25px;

      a {
        &:link,
        &:visited {
          color: var(--font-color);
          text-decoration: none;
        }
      }
    }
  }

  div.title {
    border-top: 1px solid rgba(0, 0, 0, 0.34);
    border-bottom: 1px solid rgba(0, 0, 0, 0.34);
    font-weight: 700;
    font-size: 244px;
    text-align: center;
  }
}
