section {
  &.recent-blog-entries {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  h2.title {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
  }

  p {
    &.no-entries {
      font-style: italic;
      font-weight: 500;
      padding-top: 24px;
      text-align: center;
    }
  }
}
