span.title {
  font-size: 24px;
  font-weight: 600;
}

div.entry-section-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  
  div.entry-container {
    &.all-container {
    }

    &.recent-container {
      display: flex;
      flex-direction: column;
      gap: 56px;

      div.first-row {
        flex: 1;
        display: flex;
        gap: 32px;

        div:first-child.entry {
          flex: 1 1 50%;
        }

        div.stacked-entries {
          flex: 1 1 50%;
          display: flex;
          flex-direction: column;
          gap: 32px;
        }
      }

      div.last-item {
        flex: 1;
      }
    }
  }
}
