span.title {
  font-size: 24px;
  font-weight: 600;
}

div.entry-section-container {
  display: flex;
  flex-direction: column;
  gap: 40px;

  div.entry-container {
    &.all-container {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      gap: 18px;
    }

    &.recent-desktop-container {
      display: flex;
      flex-direction: column;
      gap: 56px;

      div.first-row {
        flex: 1;
        display: flex;
        gap: 32px;

        article:first-child.entry {
          flex: 1 1 50%;
        }

        div.stacked-entries {
          flex: 1 1 50%;
          display: flex;
          flex-direction: column;
          gap: 32px;
        }
      }

      div.last-item {
        flex: 1;
      }
    }

    &.recent-ipad-container {
      display: flex;
      flex-direction: column;
      gap: 20px;

      div.first-row {
        flex: 1 1 100%;
      }

      div.stacked-entries {
        flex: 1 1 100%;
        display: flex;
        flex-direction: column;
        gap: 24px;
      }

      div.last-item {
        flex: 1 1 100%;
      }
    }

    &.recent-mobile-container {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
  }
}
