button.mode-button {
  width: 96px;
  height: 40px;
  border-radius: 29px;
  background: var(--mode-btn-bg);
  cursor: pointer;

  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }

  &:focus-out {
    transform: scale(1);
  }
}
