div.entry-container {
  display: flex;
  flex-direction: row;
  gap: 15px;

  section {
    &.sidebar {
      flex: 1 1 33%;

      @media (max-width: 390px) {
        display: none;
      }
    }

    &.detail {
      flex: 1 1 67%;

      @media (max-width: 390px) {
        flex: 1 1 100%;
      }
    }
  }
}
