div.about-container {
  display: flex;
  flex-direction: column;
  gap: 21px;

  img {
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: 420px;
    object-position: 50% 10%;
    object-fit: cover;
    align-self: center;
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 15px;

    h2 {
      font-weight: 600;
      font-size: 24px;
    }

    ul {
      font-weight: 400;
      font-size: 16px;
      li {
        list-style-position: inside;
      }
    }
  }
}
