* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Inter';
  font-style: normal;
}

:root {
  --border-color: 2px solid #000;
  --title-border-color: 1px solid rgba(0, 0, 0, 0.34);
  --paginator-border-color: 1px solid rgba(0, 0, 0, 0.14);
  --bg-color: #ffffff;
  --text-color: #1a1a1a;
  --mode-btn-bg: #090D1F;
  --light-text: #667085;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}
