* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Inter';
  font-style: normal;
}

:root {
  --bg-color: #ffffff;
  --text-color: #1a1a1a;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}
