* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Inter';
  font-style: normal;
}

:root {
  --border-color: 2px solid #000;
  --title-border-color: 1px solid rgba(0, 0, 0, 0.34);
  --paginator-border-color: 1px solid rgba(0, 0, 0, 0.14);
  --bg-color: #ffffff;
  --text-color: #1a1a1a;
  --mode-btn-bg: #090d1f;
  --light-text: #667085;
  --paginator-text: #7f56d9;
  --paginator-focus: #7f56d9;
  --paginator-button-glow: rgba(127, 86, 217, 0.3);
  --paginator-button-hover: rgba(200, 200, 200, 0.5);

  .dark-theme {
    --border-color: 2px solid #fff;
    --title-border-color: 1px solid white;
    --paginator-border-color: 1px solid rgba(234, 236, 240, 0.34);
    --bg-color: #090d1f;
    --text-color: #ffffff;
    --mode-btn-bg: #ffffff;
    --light-text: #efefef;
    --paginator-text: #112211;
    --paginator-focus: #efefef;
    --paginator-button-glow: rgba(127, 86, 217, 0.3);
    --paginator-button-hover: rgba(255, 255, 255, 0.1);
  }
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}
