div.paginator-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: var(--paginator-border-color);
  padding-top: 21px;

  span.page-section,
  span.paginator-section {
    place-self: center;
  }

  span.page-section {
    color: var(--light-text);

    button {
      background-color: transparent;
      border: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      border-radius: 30px;
      padding: 8px;
      gap: 8px;
      color: var(--light-text);
      font-size: 14px;

      &:hover {
        background-color: rgba(200, 200, 200, 0.5);
        cursor: pointer;
      }
    }

    &.next-section {
      svg {
        transform: scale(-1, 1);
      }
    }
  }
}
