div.entry {
  display: flex;
  flex-direction: column;
  padding: 8px;
  gap: 20px;

  transition: transform 0.3s ease, filter 0.3s ease;

  &:hover {
    cursor: pointer;
    transform: scale(1.05);
    filter: brightness(0.9);
  }

  &:focus-out {
    transform: scale(1);
    filter: brightness(1);
  }

  &.skeleton {
    * {
      color: transparent !important;

      &.tag {
        background: #e0e0e0;
      }
    }

    div.image-container {
      background-color: #c0c0c0;
      border-radius: 4px;

      img {
        opacity: 0;
        width: 100%;
        height: auto;
      }
    }

    label.main-details {
      background-color: #d0d0d0;
      border-radius: 4px;
    }

    span.title {
      background-color: #c0c0c0;
      border-radius: 4px;
    }

    div.text-preview {
      background-color: #d0d0d0;
      border-radius: 4px;
    }

    span.labels {
      background-color: #e0e0e0;
      border-radius: 4px;
    }
  }

  &.medium-picture-top,
  &.big-picture-top {
    div.image-container {
      img {
        width: 100%;
        max-height: 228px;
      }
    }
  }

  &.medium-picture-left {
    display: flex;
    flex-direction: row;
    gap: 32px;

    div.image-container {
      flex: 1 1 50%;

      img {
        width: 100%;
        max-height: 246px;
      }
    }

    section.text {
      flex: 1 1 50%;
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
  }

  &.small-picture-left {
    display: flex;
    flex-direction: row;
    gap: 24px;

    div.image-container {
      img {
        width: 100%;
        max-height: 200px;
      }
    }

    section.text {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
  }

  &.small-picture-top {
    display: flex;
    flex-direction: column;
    gap: 24px;

    div.image-container {
      img {
        width: 100%;
        max-width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
  }

  label.main-details {
    color: #6941c6;
    font-weight: 600;
    font-size: 14px;
  }

  span.title {
    font-weight: 600;
    font-size: 24px;
  }

  div.text-preview {
    font-weight: 400;
    font-size: 16px;
    color: var(--light-text);
  }

  span.labels {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
  }
}

div.all-container {
  div.entry {
    &.small-picture-top {
      display: flex;
      flex-direction: column;
      flex: 1 1 calc(33.33% - 18px);
      gap: 24px;

      @media (max-width: 834px) {
        flex: 1 1 calc(50% - 18px);
      }

      @media (max-width: 390px) {
        flex: 1 1 calc(100% - 18px);
      }

      div.image-container {
        img {
          width: 100%;
          max-width: 100%;
          height: auto;
          object-fit: cover;
        }
      }
    }
  }
}
