div.entry {
  display: flex;
  flex-direction: column;
  gap: 20px;

  label.main-details {
    color: #6941c6;
    font-weight: 600;
    font-size: 14pxk;
  }

  span.title {
    font-weight: 600;
    font-size: 24px;
  }

  div.text-preview {
    font-weight: 400;
    font-size: 16px;
    color: var(--light-text);
  }

  span.labels {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }

  &.medium-picture-top {
    img {
      max-height: 228px;
    }
  }

  &.small-picture-left {
    display: flex;
    flex-direction: row;
    gap: 24px;

    img {
      max-height: 200px;
    }

    section.text {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
  }

  &.medium-picture-left {
    display: flex;
    flex-direction: row;
    gap: 32px;

    img {
      flex: 1 1 50%;
      max-height: 246px;
    }

    section.text {
      flex: 1 1 50%;
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
  }
}
